html, body {
    overflow-x: hidden;
}

.bg_homepage {
    background-image: url('./assets/Images/bghome.svg');
     /* Adjust height as needed */
}



.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid #f1f2ff;
  animation: spinner-bulqg1 0.8s infinite linear alternate,
    spinner-oaa3wk 1.6s infinite linear;
}

.label-style {
  font-size: 14px;
  color: #F1F2FF; /* assuming richblack-5 = #F1F2FF */
}

.form-style {
  border-radius: 0.5rem; /* rounded-lg */
  background-color: #2C333F; /* assuming richblack-700 = #2C333F */
  padding: 0.75rem; /* p-3 */
  font-size: 16px; /* text-[16px] */
  line-height: 24px; /* leading-[24px] */
  color: #F1F2FF; /* text-richblack-5 */
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5); /* shadow-[0_1px_0_0] shadow-white/50 */
}

.form-style::placeholder {
  color: #999DAA; /* placeholder:text-richblack-400 */
}

.form-style:focus {
  outline: none; /* focus:outline-none */
}

.spinner {
   --d: 24.6px;
   width: 4.5px;
   height: 4.5px;
   border-radius: 50%;
   color: #474bff;
   box-shadow: calc(1*var(--d))      calc(0*var(--d))     0 0,
          calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1.1px,
          calc(0*var(--d))      calc(1*var(--d))     0 2.2px,
          calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3.4px,
          calc(-1*var(--d))     calc(0*var(--d))     0 4.5px,
          calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5.6px,
          calc(0*var(--d))      calc(-1*var(--d))    0 6.7px;
   animation: spinner-a90wxe 1s infinite steps(8);
}

@keyframes spinner-a90wxe {
   100% {
      transform: rotate(1turn);
   }
}
